api/appsettings.json
api/bin/Debug/netcoreapp3.1/appsettings.json
api/appsettings.json
api/bin/Debug/netcoreapp3.1/appsettings.json
api/bin/Debug/netcoreapp3.1/TaskAsigment.dll
api/bin/Debug/netcoreapp3.1/TaskAsigment.exe
api/bin/Debug/netcoreapp3.1/TaskAsigment.pdb
api/bin/Debug/netcoreapp3.1/TaskAsigment.runtimeconfig.dev.json
api/bin/Debug/netcoreapp3.1/TaskAsigment.runtimeconfig.json
api/obj/project.assets.json
api/obj/project.nuget.cache
api/obj/TaskAsigment.csproj.nuget.dgspec.json
api/obj/TaskAsigment.csproj.nuget.g.props
api/obj/Debug/netcoreapp3.1/apphost.exe
api/obj/Debug/netcoreapp3.1/project.razor.json
api/obj/Debug/netcoreapp3.1/TaskAsigment.assets.cache
api/obj/Debug/netcoreapp3.1/TaskAsigment.csproj.CoreCompileInputs.cache
api/obj/Debug/netcoreapp3.1/TaskAsigment.csproj.FileListAbsolute.txt
api/obj/Debug/netcoreapp3.1/TaskAsigment.csprojAssemblyReference.cache
api/obj/Debug/netcoreapp3.1/TaskAsigment.dll
api/obj/Debug/netcoreapp3.1/TaskAsigment.genruntimeconfig.cache
api/obj/Debug/netcoreapp3.1/TaskAsigment.pdb
